<div class="container-xxl bg-white p-0" style="height: 100vh;">

    <div class="container-xxl position-relative p-0" id="home">
        
        <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0" style="height: 100px;">
            <a href="" class="navbar-brand p-0">
                <h1 class="m-0">- VC -</h1>
            </a>
            <div class="navbar-nav mx-auto py-0 d-none d-lg-block">
                <h2 class="m-0 text-white" style="font-weight:normal;">VÍDEO CONFERÊNCIA</h2>
            </div>

            <%= form_with(model: Room.new) do |f| %>
                <%= render "user_name_modal", f: f, action: "create" %>

                <button type="button" class="btn btn-light rounded-pill" data-bs-toggle="modal" data-bs-target="#createModal">
                    CRIAR SALA
                </button>
            <% end %>
        </nav>

        <div class="container-xxl bg-primary hero-header">
            <div class="container">
                <div class="row g-5 align-items-center" style="margin-bottom: 30px;">
                    <div class="col-lg-6 text-center text-lg-start">
                        <h1 class="text-white mb-4 animated slideInDown">Reuniões de forma simplificada</h1>
                        <p class="text-white pb-3 animated slideInDown">
                            Crie ou entre em uma sala já existente para conversar e ver um vídeo de forma compartilhado.
                            Não é necessário a criação de uma conta, apenas crie uma nova sala e convide os seus amigos!
                        </p>
                        <div class="position-relative w-100 mt-3">

                            <%= form_with(url: search_rooms_path, method: :get) do |f| %>
                                <%= render "user_name_modal", f: f, action: "search" %>

                                <%= f.text_field :room_url, class: 'txt_search_room form-control border-0 rounded-pill w-100 ps-4 pe-5', placeholder: 'CÓDIGO DA SALA', style: 'height: 58px;', required: true %>
                                <%= f.submit 'ENTRAR NA SALA', class: 'submit_search btn btn-primary rounded-pill py-2 px-3 shadow-none position-absolute top-0 end-0 m-2', 'data-bs-toggle': "modal", 'data-bs-target': "#searchModal" %>
                            <% end %>
                        </div>
                    </div>
                    <div class="col-lg-6 text-center text-lg-start">
                        <%= image_tag 'video_conferencia', class: 'img-fluid rounded animated zoomIn' %>
                    </div>
                </div>
            </div>
        </div>

        

    </div>
</div>